In [ ]:
import pandas as pd 
df = pd.read_csv("")
cols = df.columns.to_list() #prints all the csv's columns indexes in order to visualize data set and chose which columns must be kept

In [ ]:
keep_idx = []
#after seeing the csv's columns insert what columns must be kept. Then eliminate them and see what the csv looks like now
df = df.iloc[:, keep_idx]
df.head()

In [3]:
df = df.loc[df[''].notna()]
# eliminate 'na' entries for a specific column, can be repeated for any column.  
df

       RE_ASSESSED_VALUE COMM_CODE          COMM_NAME              UNIQUE_KEY
44               481,500       PEN  PENBROOKE MEADOWS  2025073157406220235441
74               500,000       PIN          PINERIDGE  2025051179604180248920
75               500,000       PIN          PINERIDGE  2025051072809730247714
80               236,862       HIL          HILLHURST  2025058194903900169355
99                39,275       CAP       CAPITOL HILL  2025045123700760180302
...                  ...       ...                ...                     ...
588820            33,500       RRC      RICARDO RANCH  2025203369491960684225
588821            41,500       RRC      RICARDO RANCH  2025203369780960684178
588822            34,500       RRC      RICARDO RANCH  2025203369053960684248
588823            33,500       RRC      RICARDO RANCH  2025203369509960684224
588824            41,500       RRC      RICARDO RANCH  2025203369798960684177

[563051 rows x 4 columns]

In [4]:
df[''] = (df[''].replace(',', '', regex=True).astype(float))
# convert a columns values to float, eliminate commas if needed.
df[''] = df[''] * 0.0038706
#add  new column and define it by using a previous column. In our case the Property Assessement Column was used to compute the Property Tax column. 
df

,RE_ASSESSED_VALUE,COMM_CODE,COMM_NAME,UNIQUE_KEY,PROPERTY_TAX
44,481500.0,PEN,PENBROOKE MEADOWS,2025073157406220235441,1863.693900
74,500000.0,PIN,PINERIDGE,2025051179604180248920,1935.300000
75,500000.0,PIN,PINERIDGE,2025051072809730247714,1935.300000
80,236862.0,HIL,HILLHURST,2025058194903900169355,916.798057
99,39275.0,CAP,CAPITOL HILL,2025045123700760180302,152.017815
...,...,...,...,...,...
588820,33500.0,RRC,RICARDO RANCH,2025203369491960684225,129.665100
588821,41500.0,RRC,RICARDO RANCH,2025203369780960684178,160.629900
588822,34500.0,RRC,RICARDO RANCH,2025203369053960684248,133.535700
588823,33500.0,RRC,RICARDO RANCH,2025203369509960684224,129.665100
588824,41500.0,RRC,RICARDO RANCH,2025203369798960684177,160.629900

In [6]:

df = df.groupby(['']).sum()
# This groups all line groups all rows with the same column vaue (input) and sums the other columns. For example lots grouped by community code and their property values and taxes were added
df

           RE_ASSESSED_VALUE  PROPERTY_TAX
COMM_CODE
01C             2.949584e+07  1.141666e+05
01F             1.802800e+08  6.977918e+05
01H             4.755500e+06  1.840664e+04
02C             1.129142e+06  4.370457e+03
02K             8.145000e+05  3.152604e+03
...                      ...           ...
WND             1.149626e+09  4.449743e+06
WOO             1.421773e+09  5.503115e+06
WSP             4.070818e+09  1.575651e+07
WWO             8.640402e+08  3.344354e+06
YKV             6.851890e+08  2.652093e+06

[273 rows x 2 columns]

In [ ]:
############################ End of first csv processing #############################################

In [32]:
df_2 = pd.read_csv("",encoding='latin1')         ## open a new csv as a pandas dataframe. encoding used as there are many different types of csv files and this parameter is needed to deal with the different types.
df_2 = df_2.iloc[:,[,]]                          ## dataframe asigned only columns and rows specified 
df_2

,"Canada, provin",Total - Age groups of the population - 25% sample data
0,Calgary Communities - ARBOUR LAKE (ARB) 00000 ...,10335.0
1,Calgary Communities - 02F (02F) 09999 ( 0.0%),x
2,Calgary Communities - BELVEDERE (BVD) 09999 ( ...,x
3,Calgary Communities - ROYAL VISTA (RYV) 09999 ...,x
4,Calgary Communities - MANCHESTER INDUSTRIAL (M...,x
...,...,...
305,Calgary Communities - ROCKY RIDGE (ROC) 00000 ...,8195.0
306,Calgary Communities - TUSCANY (TUS) 00000 ( 1...,19700.0
307,Calgary Communities - 05E (05E) 09999 ( 0.0%),x
308,Calgary Communities - CHAPARRAL (CHA) 00000 ( ...,12500.0
309,Calgary Communities - NEW BRIGHTON (NEB) 00000...,12885.0

In [34]:
df_2 = df_2.loc[df_2[''] != 'x']
#this line can be used to keep only valid data entries. For example all the ones where the row's columnn is not 'x'

In [ ]:
# turn all rows from  column into float
df_2.iloc[:,1] = df_2.iloc[:,1].astype(float)

In [37]:
# this block renames the indexes of one data set (df_2) using the naming convention of another one(df)
used_indices = set()

for code in df.index:
    # Match the code inside parentheses exactly
    pattern = f"\\({code}\\)"  # escape parentheses
    matching_indices = df_2[df_2[''].str.contains(pattern, regex=True, na=False)].index
    
    # Assign the code to the first unused matching row
    for idx in matching_indices:
        if idx not in used_indices:
            df_2.at[idx, "Community"] = code
            used_indices.add(idx)
            break  # stop after one-to-one match
print(df_2)

    Community Population
0         ARB    10335.0
9         CPF    14095.0
10        SIG    13000.0
11        CAM     2000.0
12        BRT      765.0
..        ...        ...
302       CGR     7150.0
305       ROC     8195.0
306       TUS    19700.0
308       CHA    12500.0
309       NEB    12885.0

[208 rows x 2 columns]

In [38]:
# Export df_2
df_2.to_csv('', index=False)  # index=False to skip writing the row index

# Export df
df.to_csv('', index=True)  # keep COMM_CODE as index